@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
/* viewPort */
body {
	font-size: 36px;
}

a:link {
	text-decoration: none;
	color: black;
}
a:visited {
	text-decoration: none;
	color: black;
}
a:active {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: none;
	color: red;
}

/* header */
header {
	margin: 20px 0px 50px 0px;
	font-size: 2em;
	font-weight: bold;
	font-family: "Noto Sans KR", sans-serif;
	text-align: center;
}

header > div {
	width: 100%;
	height: auto;
	display: block;
	overflow: auto;
}

header > div > div {
	overflow: auto;
}

.app_name {
	width: 75%;
	float: left;
}

.more {
	width: 12.5%;
	float: left;
}

.login {
	width: 12.5%;
	float: left;
}

.app_name > a {
	color: #55B2DC;
}

.more > a > img {
	width: 50%;
	height: auto;
}

.login > a > img {
	width: 50%;
	height: auto;
}


/* body */
#loading {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	display: block;
	opacity: 0.7;
	background-color: #fff;
	z-index: 99;
	
}

#loading-image {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100%;
}


.wrap {
	margin: 20px;
	font-size: 1em;
	font-family: "Noto Sans KR", sans-serif;
}

.title {
	margin: 15px 0px 15px 0px;
	font-size: 1.5em;
	font-weight: bold;
}

.sub {
	margin: 15px 0px 15px 20px;
	font-size: 1.25em;
	font-weight: bold;
	color: #55B2DC;
}

.row {
	width: 100%;
	height: auto; 
	overflow: auto;
	margin: 50px 0px 50px 0px;
	font-size: 1em;
}

.division {
	width: 100%;
	height : 10px;
	background-color: #EBEBEB;
}

.detail {
	float: right;
	right: 5px;
	font-size: 1.5em;
}

.slide {
	width: 100%;
	height: 100%;
	float: left;
	display: flex;
}

.prev {
	width: 5%;
	display: inline;
	float: left;
	line-height: 5;
}

.prev > img {
	width: 100%;
}

.next {
	width: 5%;
	display: inline;
	float: left;
	line-height: 5;
}

.next > img {
	width: 100%;
}

/* 공지 */
.notice {
	width: 90%;
	padding: 0px 0px 0px 40px;
	float: left;
}

/* 메뉴 */
.menu {
	width: 100%;
	border: 1px solid gray;
}

.menu > thead > tr > th {
	border: 1px solid gray;
}

.menu > tbody > tr > td {
	padding: 20px 0px 20px 0px;
	text-align: center;
	border: 1px solid gray;
}

.box {
	width: 33%;
	height: 100%;
	float: left;
	border-width: 0px 0px 0px 1px;
	border-style: solid;
	border-color: gray;
	padding: 10px 0px 10px 0px;
	vertical-align: middle;
	display: inline;
}


/*
#55B2DC
*/


/* 
@media ( max-width: 768px ) {
  body { color: red; }
}

768px 이상일 경우
@media ( min-width: 768px ) {
 body { color: red; }
}

1024px 이상일 경우
@media ( min-width: 1024px ) {
  C
}
 */