@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

input[type=radio]{-webkit-appearance:radio;}
input[type=submit] {-webkit-appearance:none;}
input[type=button] {-webkit-appearance:none;}
input[type=checkbox]{-webkit-appearance:checkbox;}
button[type=button] {-webkit-appearance:none;}

/**
 * common css
 *
 * vp : vertical div parents
 * vc : vertical div children
 * us : unselect object
 */

html, body {height: 100%}
.vp {overflow: auto;}
.vc {float: left;}
.us {color: #767676;}

.border {border: 2px solid black;}
.radius {border: 2px solid #2BBDFF; border-radius: 100px; font-weight: bold;}
.division {width: 100%; height : 10px; background-color: #EBEBEB;}





body {
	font-size: 36px;
}

a:link {
	text-decoration: none;
	color: black;
}
a:visited {
	text-decoration: none;
	color: black;
}
a:active {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: none;
	color: red;
}

/* header */
header {
	margin: 20px 0px 50px 0px;
	font-size: 2em;
	font-weight: bold;
	font-family: "Noto Sans KR", sans-serif;
	text-align: center;
}

header > div {
	width: 100%;
	height: auto;
	display: block;
	overflow: auto;
}

header > div > div {
	overflow: auto;
}

.app_name {
	width: 75%;
	float: left;
}

.head_more {
	width: 12.5%;
	float: left;
}

.head_login {
	width: 12.5%;
	float: left;
}

.app_name > a {
	color: #55B2DC;
}

.head_more > a > img {
	width: 50%;
	height: auto;
}

.head_login > a > img {
	width: 50%;
	height: auto;
}


/* body */
#loading {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	display: block;
	opacity: 0.7;
	background-color: #fff;
	z-index: 99;
	
}

#loading-image {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100%;
}


.wrap {
	margin: 20px;
	font-size: 1em;
	font-family: "Noto Sans KR", sans-serif;
}

.title {
	margin: 15px 0px 15px 0px;
	font-size: 1.5em;
	font-weight: bold;
}

.sub {
	margin: 15px 0px 15px 20px;
	font-size: 1.25em;
	font-weight: bold;
	color: #55B2DC;
}

.row {
	width: 100%;
	height: auto; 
	margin: 50px 0px 50px 0px;
	font-size: 1em;
}

.row > div {
	overflow: auto;
}



.detail {
	float: right;
	right: 5px;
	font-size: 1.5em;
}

.slide {
	width: 100%;
	height: 100%;
	float: left;
	display: flex;
}

.prev {
	width: 5%;
	display: inline;
	float: left;
	line-height: 5;
}

.prev > img {
	width: 100%;
	vertical-align: middle;
}

.next {
	width: 5%;
	display: inline;
	float: left;
	line-height: 5;
}

.next > img {
	width: 100%;
	vertical-align: middle;
}

/* 공지 */
.notice {
	width: 90%;
	padding: 0px 0px 0px 40px;
	float: left;
}

/* 메뉴 */
.menu {
	width: 100%;
	border: 1px solid gray;
}

.menu > thead > tr > th {
	border: 1px solid gray;
}

.menu > tbody > tr > td {
	padding: 20px 0px 20px 0px;
	text-align: center;
	border: 1px solid gray;
}

.box {
	width: 33%;
	height: 100%;
	float: left;
	border-width: 0px 0px 0px 1px;
	border-style: solid;
	border-color: gray;
	padding: 10px 0px 10px 0px;
	vertical-align: middle;
	display: inline;
}

/* 로그인 */

/* 회원가입 */
.register_title {
	padding: 30px 0px 50px 0px;
	font-size: 1.4em;
	text-align: left;
}

.register {
	width: 100%;
	height: auto;
}

.register td {
	display: block; 
	overflow: hidden; 
}

.register span {
	width: 100%;
	display: block;
	padding: 20px 10px;
	color: red;
	text-align: left;
}

.register td:nth-child(1) {
	width: 100%;
	padding: 20px 0px 0px 0px;
}

.register td:nth-child(2) {
	width: 100%;
	height: auto;
	padding: 20px 0px 10px 0px;
}

.register td:nth-child(2) > input {
	width: 100%;
	line-height: 3em;
	font-size: 1em;
	float: left;
	border: 1px solid gray;
	padding-left: 20px; 
	box-sizing : border-box;
}

.register td:nth-child(2) > button {
	width: 100%;
	line-height: 3em;
	font-size: 1em;
	float: left;
	border: 1px solid gray;
	padding-left: 20px; 
	box-sizing : border-box;
}

.register td:nth-child(2) > select {
	width: 100%;
	line-height: 3em;
	font-size: 1em;
	float: left;
	border: 1px solid gray;
	padding: 0.8em 0.2em; 
	box-sizing : border-box;
}

.reg_id_div {
	display: flex;
}

.reg_id {
	flex: 1;
	width: 75%;
	line-height: 3em;
	font-size: 1em;
	float: left;
	border: 1px solid gray;
	padding-left: 20px; 
	box-sizing : border-box;
}

.reg_id_chk {
	width: 25%;
	line-height: 3em;
	font-size: 1em;
	float: left;
	border: 1px solid gray;
	padding-left: 20px;
	color: white;
	background-color: #55B2DC;
	box-sizing : border-box;

}

.reg_birth {
	width: 100%;
	border: 1px solid gray;
	overflow: auto;
	box-sizing : border-box;
}

.reg_birth input {
	width: 30%;
	float: left;
	font-size: 1em;
	text-align: center;
	box-sizing : border-box;
}

.div {
	width: 5%;
	float: left;
	text-align: center;
	display: inline-block;
}

.div_ver {
	height: 5%;
	float: left;
	text-align: center;
	display: inline-block;
}

.login_title {
	margin-top: 10%;
	padding: 30px 0px 50px 0px;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	color: #55B2DC
}

.login {
	width: 100%;
	height: auto;
}

.login td {
	display: block; 
	overflow: hidden; 
}

.login span {
	width: 100%;
	display: block;
	padding: 20px 10px;
	color: red;
	text-align: left;
}

.login td:nth-child(1) {
	width: 100%;
	height: auto;
	padding: 40px 0px 10px 0px;
}

.login td:nth-child(1) > input {
	width: 100%;
	line-height: 3em;
	font-size: 1em;
	float: left;
	border: 1px solid gray;
	padding-left: 20px;
	box-sizing : border-box;
}

.login_sub {
	margin-top: 20px;
	text-align: center;
}

.round {
	background: #55B2DC;
	border-radius: 40px;
	color: white;
}

/* menu */
.menu_date {height: auto; margin: 100px 0px 70px 0px; overflow: auto; font-size: 1.1em; font-weight: bold;}
.menu_date div {width: 33%; float: left; font-size: 1.5em; text-align: center;}
.menu_date div:nth-child(1) {width: 33%; padding: 0 30px 0 0; text-align: right; -webkit-box-sizing: border-box;}
.menu_date div:nth-child(3) {width: 33%; padding: 0 0 0 30px; text-align: left; -webkit-box-sizing: border-box;}

.menu_header {width: 100%; margin: 0px 0px 50px 0px; overflow: auto;}
.menu_header div {width: 33%; padding: 20px 0px; float: left; font-size: 1.1em; text-align: center;}

.menu_body {margin: 0px 0px 100px 0px; line-height: 1.8em; font-size: 1.4em; text-align: center;}

.menu_footer {padding: 20px 0px; text-size: 1.2em; text-align: center;}
.menu_footer span {color: #2BBDFF}


/* more */
.more_category {width: 100%; text-align: center; border-spacing: 0 100px;}
.more_category caption {font-size: 1.4em; font-weight: bold; text-align: left; padding: 50px 0 0 30px;}
.more_category img {width: 50%; display: block; margin: 0 auto 20px auto;}

.more_notice {width: 100%; text-align: center; border-spacing: 0 80px;}
.more_notice caption {font-size: 1.4em; font-weight: bold; text-align: left; padding: 50px 0 0 30px;}
.more_notice td {font-size: 1.3em;}
.more_notice a {width: 100%; overflow: auto;}
.more_notice div:nth-child(1) {width: 50%; padding-left: 30px; float:left; text-align: left; -webkit-box-sizing: border-box;}
.more_notice div:nth-child(2) {width: 50%; padding-right: 30px; float:left; text-align: right; -webkit-box-sizing: border-box;}



.week_day {
	width: 50%;
	display: inline;
	float: left;
	line-height: 3;
	vertical-align: middle;
	text-align: center;
}


.wb {
	word-break:keep-all;
	display: table;
}

.ml {
	margin-left: 20%;
	line-height: 3;
}
.mr {
	margin-right: 20%;
	line-height: 3;
}

.bus_top {
	/* height: 20%; */
	margin: 5% 0;
}

.bus_top div:nth-child(1) {
	font-size: 1.5em;
	margin-bottom: 20px;
}

.bus_top a:nth-child(2) {
	color: #767676;
}

.bus_mid {
	color: #666666;
	font-size: 1.2em;
	text-align: center;
	background-color: #F2F7FF;
	padding: 20px 0px;
	margin-bottom: 20px;
}

.bus_bot {
	width: 100%;
}

.bus_type > div {
	padding: 20px 0px;
	font-size: 1.2em;
	text-align: center;
}

.bus_select {
	color: white;
	background-color: #418AFF;
}

.bus_time_select {
	color: #418AFF;
}

.bus_bot > div:nth-child(1) {
	width: 30%;
	float: left;
}

.bus_bot > div:nth-child(2) {
	width: 70%;
	float: left;
	font-size: 1.8em;
	text-align: center;
}

.bus_ter > div:nth-child(1) {
	width: 40%;
	font-size: 1.2em;
	float: left;
	text-align: center;
	color: #767676;
} 

.bus_ter > div:nth-child(2) {
	width: 60%;
	float: left;
	font-size: 1.2em;
	text-align: center;
}

.bus_sch > div:nth-child(1) {
	width: 40%;
	font-size: 1.2em;
	float: left;
	text-align: center;
	color: #767676;
} 

.bus_sch > div:nth-child(2) {
	width: 60%;
	float: left;
	font-size: 1.2em;
	text-align: center;
}

.more_top {
	width: 100%;
	overflow: auto;
}

.more_top > img:nth-child(1) {
	width: 20%;
	float: left;
}

.more_top > div:nth-child(1) {
	width: 80%;
	float: left;
}

.more_top > div:nth-child(1) {
	width: 80%;
	float: left;
}

/* 
viewPort

@media ( max-width: 768px ) {
  body { color: red; }
}

768px 이상일 경우
@media ( min-width: 768px ) {
 body { color: red; }
}

1024px 이상일 경우
@media ( min-width: 1024px ) {
  C
}
 */