@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

input[type=radio]{-webkit-appearance:radio;}
input[type=submit] {-webkit-appearance:none;}
input[type=button] {-webkit-appearance:none;}
input[type=checkbox]{-webkit-appearance:checkbox;}
button[type=button] {-webkit-appearance:none;}

/**
 * common css
 *
 * mt : margin top 5%
 * ms : margin side 5%
 *
 * vp : vertical div parents
 * vc : vertical div children
 * us : unselect object
 * ul : underline object
 */

html, body {height: 100%}
body {font-size: 36px; font-family: "Noto Sans KR", sans-serif;}

a:link {text-decoration: none; color: black;}
a:visited {text-decoration: none; color: black;}
a:active {text-decoration: none; color: black;}
a:hover {text-decoration: none; color: red;}

.mt {margin-top: 5%;}
.ms {margin: 0 5%;}
.vp {overflow: auto;}
.vc {float: left;}
.us {color: #767676;}
.ul {text-decoration: underline; text-underline-position: under; font-weight: bold;}

.border {border: 2px solid black;}
.division {width: 100%; margin: 0; border: 10px solid #EBEBEB;}
.radius {border: 2px solid #2BBDFF; border-radius: 100px; font-weight: bold;}
.us_radius {border-radius: 100px; font-weight: bold; background-color: #F8F8FA;}



/* header */
header {margin: 20px 0px 0px 0px; font-size: 2em; font-weight: bold; text-align: center;}
header div {width: 100%; height: auto; display: block; overflow: auto;}



/* footer */
.footer {text-align: center;}



/* main */
.banner img {width: 100%; height: 100%;}
.main_category {width: 100%; text-align: center; border-spacing: 0 100px;}
.main_category img {width: 80%; display: block; margin: 0 auto 20px auto;}

.main_header {display: flex; overflow: auto;}
.main_header div {float: left; -webkit-box-sizing: border-box;}
.main_header div:nth-child(1) {width: 80%; font-size: 1.5em; font-weight: bold; text-align: left;}
.main_header div:nth-child(2) {width: 20%; text-align: right; line-height: 2.5em;}
.main_header span {font-size: 0.8em !important;}

.mnt {margin-top: 5%; overflow: auto;}
.mnt div {float: left; margin-right: 5%; font-size: 1.2em;}

.mnc {width: 100%; height: 100%; margin-top: 5%;}
.mnc img {width: 10%; height: 10%; margin-left: auto; margin-right: auto; padding: 20%; display: block; opacity: 0.7; background-color: #fff;}
.mnc div {padding: 2% 0; font-size: 1.2em;}

.mmc {margin: 0px 0px 100px 0px; font-size: 1em; text-align: center;}

.mbh {margin-top: 5%; overflow: auto;}
.mbh div {float: left; font-size: 1em; text-align: center; -webkit-box-sizing: border-box;}
.mbh div:nth-child(1) {width: 40%;}
.mbh div:nth-child(2) {width: 20%;}
.mbh div:nth-child(3) {width: 40%;}
.mbh img {vertical-align: middle;}

.mbc {margin-top: 5%; overflow: auto;}
.mbc div {float: left; font-size: 1.4em; text-align: center; -webkit-box-sizing: border-box;}
.mbc div:nth-child(1) {width: 40%;}
.mbc div:nth-child(2) {width: 20%;}
.mbc div:nth-child(3) {width: 40%;} 

.mbt {margin: 5%; padding: 5%;font-size: 1.4em; text-align: center; font-weight: bold; color: #55B2DC;}
.mbt sup {font-size:0.5em; color:#FFB100;}


/* more */
.more_category {width: 100%; text-align: center; border-spacing: 0 100px;}
.more_category caption {font-size: 1.4em; font-weight: bold; text-align: left; padding: 50px 0 0 30px;}
.more_category img {width: 50%; display: block; margin: 0 auto 20px auto;}
.more_category .none {color: #767676;}

.more_notice {width: 100%; text-align: center; border-spacing: 0 80px;}
.more_notice caption {font-size: 1.4em; font-weight: bold; text-align: left; padding: 50px 0 0 30px;}
.more_notice td {font-size: 1.3em;}
.more_notice a {width: 100%; overflow: auto;}
.more_notice div {float:left;  -webkit-box-sizing: border-box;}
.more_notice div:nth-child(1) {width: 80%; padding-left: 30px; text-align: left;}
.more_notice div:nth-child(2) {width: 20%; padding-right: 30px; text-align: right;}



/* delivery */
.delivery_list {width: 100%; font-size: 1.2em; text-align: center; color: gray; border-spacing: 0 50px;}
.delivery_list img {width: 80%; display: block; margin: 0 auto 20px auto; border: 1px solid gray; border-radius: 50%;}

.del {width: 100%;}

.restaurant_etc {margin: 10% 5%; font-size: 1em;}
.restaurant_etc div {margin-bottom: 10%; text-align: center; font-size: 1.4em;}
.restaurant_etc span {font-size: 1em;} 

.restaurant_menu {margin: 5% 5%; font-size: 1em;}
.restaurant_menu p {margin-bottom: 36px;}

.restaurant_title {margin: 5%; font-size: 1.4em; text-align: center;}
.restaurant_call {margin: 5%; border: 1px solid; padding: 3%; text-align: center; font-size: 1em;}
.restaurant_call img {vertical-align: text-top;}
#restaurant_table {width: 100%; margin: 0 2%;}
#restaurant_table td:nth-child(1) {width: 30%; vertical-align: top;}
#restaurant_table td:nth-child(2) {width: 70%;}



/* menu */
.menu_date {height: auto; margin: 100px 0px 70px 0px; overflow: auto; font-size: 1.1em; font-weight: bold;}
.menu_date div {width: 33%; float: left; font-size: 1.3em; text-align: center;}
.menu_date div:nth-child(1) {width: 33%; padding: 0 30px 0 0; text-align: right; -webkit-box-sizing: border-box;}
.menu_date div:nth-child(3) {width: 33%; padding: 0 0 0 30px; text-align: left; -webkit-box-sizing: border-box;}

.menu_header {width: 100%; margin: 0px 0px 50px 0px; overflow: auto;}
.menu_header div {width: 33%; padding: 20px 0px; float: left; font-size: 1.1em; text-align: center;}

.menu_body {margin: 0px 0px 100px 0px; line-height: 1.8em; font-size: 1.4em; text-align: center;}

.menu_footer {padding: 20px 0px; text-size: 1.2em; text-align: center;}
.menu_footer span {color: #2BBDFF}



/* bus */
.active {border: 1px solid #2BBDFF; border-radius: 2em; box-sizing: border-box; background-color: white;}
.bus_wrap {margin: auto; width: 100%; text-align: center; font-family: "Noto Sans KR", sans-serif;}
.bus_wrap p {padding: 1.5em;}
.bus_wrap sup {font-size:0.5em; color:#FFB100;}

.bus_nav {width: 80%; margin: 0 auto; border: 0.1em solid #F8F8FA; border-radius: 2em; padding: 0px; background-color: #F8F8FA; overflow: auto; list-style-type: none;}
.bus_nav li {width: 50%; float: left;}
.bus_nav li span {display: block; padding: 0.8em 1em; text-align: center; text-decoration: none; font-weight: bold; color: black;}

.bus_info {list-style: none; text-align: center; clear: left;}
.bus_info li {margin-right: 1em; padding: 2em 0em; float: left;}

.come::before {width: 1em; display: inline-block; color: #55B2DC; content: "●";}
.leave::before {width: 1em; display: inline-block; color: #FFB100; content: "●";}

.bus_table {width: 100%}
.bus_table table, td {border : 1px solid white;}
.bus_table td {font-size: 1.3em; text-align: center; color: #A9A9A9;}

.bus_cur_time {font-weight: bold; color : #55B2DC !important;}





/* header */
.app_name {
	width: 75%;
	float: left;
}

.head_more {
	width: 12.5%;
	float: left;
}

.head_login {
	width: 12.5%;
	float: left;
}

.app_name > a {
	color: #55B2DC;
}

.head_more > a > img {
	width: 50%;
	height: auto;
}

.head_login > a > img {
	width: 50%;
	height: auto;
}


/* body */
#loading {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	display: block;
	opacity: 0.7;
	background-color: #fff;
	z-index: 99;
	
}

#loading-image {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100%;
}


.wrap {
	margin: 20px;
	font-size: 1em;
	font-family: "Noto Sans KR", sans-serif;
}

.title {
	margin: 15px 0px 15px 0px;
	font-size: 1.5em;
	font-weight: bold;
}

.sub {
	margin: 15px 0px 15px 20px;
	font-size: 1.25em;
	font-weight: bold;
	color: #55B2DC;
}

.row {
	width: 100%;
	height: auto; 
	margin: 50px 0px 50px 0px;
	font-size: 1em;
}

.row > div {
	overflow: auto;
}



.detail {
	float: right;
	right: 5px;
	font-size: 1.5em;
}

.slide {
	width: 100%;
	height: 100%;
	float: left;
	display: flex;
}

.prev {
	width: 5%;
	display: inline;
	float: left;
	line-height: 5;
}

.prev > img {
	width: 100%;
	vertical-align: middle;
}

.next {
	width: 5%;
	display: inline;
	float: left;
	line-height: 5;
}

.next > img {
	width: 100%;
	vertical-align: middle;
}

/* 공지 */
.notice {
	width: 90%;
	padding: 0px 0px 0px 40px;
	float: left;
}

/* 메뉴 */
.menu {
	width: 100%;
	border: 1px solid gray;
}

.menu > thead > tr > th {
	border: 1px solid gray;
}

.menu > tbody > tr > td {
	padding: 20px 0px 20px 0px;
	text-align: center;
	border: 1px solid gray;
}

.box {
	width: 33%;
	height: 100%;
	float: left;
	border-width: 0px 0px 0px 1px;
	border-style: solid;
	border-color: gray;
	padding: 10px 0px 10px 0px;
	vertical-align: middle;
	display: inline;
}

/* 로그인 */

/* 회원가입 */
.register_title {
	padding: 30px 0px 50px 0px;
	font-size: 1.4em;
	text-align: left;
}

.register {
	width: 100%;
	height: auto;
}

.register td {
	display: block; 
	overflow: hidden; 
}

.register span {
	width: 100%;
	display: block;
	padding: 20px 10px;
	color: red;
	text-align: left;
}

.register td:nth-child(1) {
	width: 100%;
	padding: 20px 0px 0px 0px;
}

.register td:nth-child(2) {
	width: 100%;
	height: auto;
	padding: 20px 0px 10px 0px;
}

.register td:nth-child(2) > input {
	width: 100%;
	line-height: 3em;
	font-size: 1em;
	float: left;
	border: 1px solid gray;
	padding-left: 20px; 
	box-sizing : border-box;
}

.register td:nth-child(2) > button {
	width: 100%;
	line-height: 3em;
	font-size: 1em;
	float: left;
	border: 1px solid gray;
	padding-left: 20px; 
	box-sizing : border-box;
}

.register td:nth-child(2) > select {
	width: 100%;
	line-height: 3em;
	font-size: 1em;
	float: left;
	border: 1px solid gray;
	padding: 0.8em 0.2em; 
	box-sizing : border-box;
}

.reg_id_div {
	display: flex;
}

.reg_id {
	flex: 1;
	width: 75%;
	line-height: 3em;
	font-size: 1em;
	float: left;
	border: 1px solid gray;
	padding-left: 20px; 
	box-sizing : border-box;
}

.reg_id_chk {
	width: 25%;
	line-height: 3em;
	font-size: 1em;
	float: left;
	border: 1px solid gray;
	padding-left: 20px;
	color: white;
	background-color: #55B2DC;
	box-sizing : border-box;

}

.reg_birth {
	width: 100%;
	border: 1px solid gray;
	overflow: auto;
	box-sizing : border-box;
}

.reg_birth input {
	width: 30%;
	float: left;
	font-size: 1em;
	text-align: center;
	box-sizing : border-box;
}

.div {
	width: 5%;
	float: left;
	text-align: center;
	display: inline-block;
}

.div_ver {
	height: 5%;
	float: left;
	text-align: center;
	display: inline-block;
}

.login_title {
	margin-top: 10%;
	padding: 30px 0px 50px 0px;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	color: #55B2DC
}

.login {
	width: 100%;
	height: auto;
}

.login td {
	display: block; 
	overflow: hidden; 
}

.login span {
	width: 100%;
	display: block;
	padding: 20px 10px;
	color: red;
	text-align: left;
}

.login td:nth-child(1) {
	width: 100%;
	height: auto;
	padding: 40px 0px 10px 0px;
}

.login td:nth-child(1) > input {
	width: 100%;
	line-height: 3em;
	font-size: 1em;
	float: left;
	border: 1px solid gray;
	padding-left: 20px;
	box-sizing : border-box;
}

.login_sub {
	margin-top: 20px;
	text-align: center;
}

.round {
	background: #55B2DC;
	border-radius: 40px;
	color: white;
}


.week_day {
	width: 50%;
	display: inline;
	float: left;
	line-height: 3;
	vertical-align: middle;
	text-align: center;
}


.wb {
	word-break:keep-all;
	display: table;
}

.ml {
	margin-left: 20%;
	line-height: 3;
}
.mr {
	margin-right: 20%;
	line-height: 3;
}


/* 
viewPort

@media ( max-width: 768px ) {
  body { color: red; }
}

768px 이상일 경우
@media ( min-width: 768px ) {
 body { color: red; }
}

1024px 이상일 경우
@media ( min-width: 1024px ) {
  C
}
 */